# ----------------------------------------------------------------------------
# 🌐 SERVER CONFIGURATION -> 🚀 GRANIAN (RUST HTTP SERVER)
# ----------------------------------------------------------------------------
HOST=0.0.0.0
PORT=8000

# ----------------------------------------------------------------------------
# 🛢️ DATABASE CONFIGURATION
# ----------------------------------------------------------------------------
POSTGRES_DB=agents_template
POSTGRES_USER=agents_template
# 👉 Generate a secure secret key:
# >> uv run python -c "import secrets; print(secrets.token_urlsafe(48))"
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ----------------------------------------------------------------------------
# 🧠 AI
# ----------------------------------------------------------------------------
OPENAI_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=
NVIDIA_API_KEY=
CHUTES_API_KEY=
CEREBRAS_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
DEEPSEEK_API_KEY=