# ----------------------------------------------------------------------------
# Project specific files
# ----------------------------------------------------------------------------

# core folders
data
uploads
ssl

# core files
agents-template.yaml

# env
.env
.env.local
.env.development
.env.production

# postgres
postgres.conf
postgres.development.conf
postgres.production.conf

# docker compose override
docker-compose.override.*

# Local Files
*.local.*
*.local
temp
*.temp*
*temp.*